div.cs142-login {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

div.cs142-signup {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}