<div class="cs142-login">
	<span><h4>Login Name</h4><input ng-model = "login.loginName"></input></span>
	<span><h4>Password</h4><input ng-model = "login.password"></input></span>
	<div class = "cs142-loginButton" ng-click = "loginClick()">Log In</div>
</div>
<div class="cs142-signup">
	<span><h4>Login Name</h4><input></input></span>
	<span><h4>Password</h4><input></input></span>
	<span><h4>Please enter the password again</h4><input></input></span>
	<span><h4>First Name</h4><input></input></span>
	<span><h4>Last Name</h4><input></input></span>
	<span><h4>Location</h4><input></input></span>
	<span><h4>Occupation</h4><input></input></span>
	<span><h4>Description</h4><textarea rows="5"></textarea></span>
	<div class = "cs142-registerButton" ng-click="registerClick()">Register Me</div>
</div>